---

- hosts: fediseer_gui
  gather_facts: true

  tasks:
  - name: start docker-compose
    docker_compose:
      project_src: "{{ docker_compose_dir }}"
      state: present
      pull: yes
      remove_orphans: yes
    tags:
      - docker
      - compose
